//color

$primary-color: pink;
$secondary-color:rgb(255, 57, 57);
$color-gray: rgb(189, 164, 164);
$color-red: red;


//fonts-size

$font-14: 14px;
$font-16: 16px;
$font-18: 18px;

//font

$font: Helvetica, sans-serif;